@model IEnumerable<WebApp1.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = !Model.Any() ? "popular" : null;
}

<h2 class="@className">Movies</h2>

@if (!Model.Any())
{
    <p>No movies preset</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var movie in Model)
            {
                <tr>
                    @*<td>@movie.Name</td>*@
                    <td>@Html.ActionLink(movie.Name, "Movie", "Movies", new { id = movie.Id }, null)</td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }
        </tbody>

    </table>
    @*<ul>

            @foreach (var movie in Model)
            {
                <li>@movie.Name</li>
            }
        </ul>*@
}

